@media only screen and (max-width: 380px) and (min-height: 800px) {
    .nav-wrapper {
      flex-direction: column;
      align-items: center;
      max-width: 100%;
      max-height: 100%;    }
  }
  .brand-logo{
    display: flex;
    justify-content: flex-start;
    font-size: 10px;
  }
  .bluedarken-2{
    font-size: 8px;
  }
  /* For tablets (768px width and above) */
  @media only screen and (min-width: 768px) {
    .nav-wrapper ul li {
      margin-right: 1rem;   
    }
  }